*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    font-family:century;
    font-size:1.3em;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 30px;
    transition: all .5s ease;

    
}
.navbar ul li a:hover{
    background-color:  #66fcf1;
    color:  #000;
    box-shadow: 0 0 10px white, 0 0 15px white; 
}
 /* Home Section */
 #home{
    display: flex;
    flex-direction: column;
 }
 #home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('spiral.png') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
 }
 .main{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 40%;
    left: 10%;
 }
 .headings{
    font-family: century;
    font-size: 4rem;
    text-align: center;
    color: white;
    top: 50%;
 }
 span{
    color: #66fcf1;
    font-style: italic ;
 }
 #home .suit{
    height: 366px;
    width: 329px;
    margin-left: 70%;
    margin-top: 13%;
 }
 ul img{
    width: 30px;
    height: 30px;
  
}
/* About Section */
#about{
    display: flex;
    flex-direction: column;
   box-sizing: border-box;
   padding: 20px;
   margin-top: 50px;
   border: 3px solid black;
   background-color: whitesmoke;

}
#about .headings{
    font-size: 30px;
    color: #000;
    padding: 10px;
    margin-top:20px;

}
#pic {
    display: flex;
    margin-top: 10px; 
}
#pic img{
    width: 228px;
    height: 266px;
    margin-top: 10px;
    margin-left: 10px;
    border: 3px solid black;
    border-radius: 10px;
}
#intro p{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: justify;
}
#intro h2{
    font-size: 2rem;
    margin-top: 10px;
    padding: 10px;
    margin-left:50px;
}
#intro h3{
    font-size: 2rem;
    margin-top: 150px;
    margin-left: 50px;
}
#online h3{
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#online p{
    margin-top:10px;
    font-size: 18px;
}
#onsel img {
    width: 216px;
    height: 289px;
    margin-top: 10px;
    margin-left: 80px;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
}
#hobies h3{  
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#hobies p{
    margin-top:10px;
    font-size: 18px;
    text-align: center;
}
#hobpic img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 80px;
    border: 2px solid #000;
}
#friends h3{  
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#bff img{
    width: 500px;
    height: 330px;
    margin-top: 20px;
    margin-left: 70px;
    border: 1px solid #000;
    border-radius: 15px;
}



/* Education Section */
#education {
        display: flex;
        flex-direction: column;
       box-sizing: border-box;
       padding: 20px;
       margin-top: 50px;
       background-color: #000;
    
    }
    #education .headings{
        font-size: 30px;
        color: #fff;
        padding: 10px;
        margin-top:20px;   
    }
    #school {
        display: inline-block;
        margin-top: 10px;  
    }
    #school img{
        width: 380px;
        height: 273px;
        margin-top: 10px;
        margin-left: 20px;
        border: 1px solid black;
        border-radius: 15px;;
    
    }
    #ed p{
        font-size: 18px;
        margin-top: 10px;
        margin-left: 20px;
        text-align: justify;
        color: #fff;
    }
    #ed h2{
        font-size: 25px;
        margin-top: 10px;
        padding: 10px;
       text-align: center;
        color: #fff;
    }
    #ed h3{
        font-size: 25px;
        margin-top: 50px;
        padding: 10px;
       text-align: center;
        color: #fff;
    }
    #ed h4{
        font-size: 25px;
        margin-top: 50px;
        padding: 10px;
       text-align: center;
        color: #fff;
    }
    #ac {
        display: flex;
        margin-top: 10px; }

    #ac img{
        width: 270px;
        height: 270px;
        margin-top: 50px;
    
    }
    #acs h1{
        margin-top:40px;
        color: #fff;
        margin-left: 30px;
    }
#isat{
    display: flex;
    margin-top: 40px; }
    
#isat img{
            width: 486px;
            height: 324px;
            margin-top: 40px;
        }
    #col h1{
            margin-top: 40px;
            color: #fff;
            margin-left: 30px;
    }
#col p{
    margin-top: 20px;
}
    /* Profile Section */
    #profile{
     display: flex;
     flex-direction: column;
     padding: 20px;
    }
    #profile .headings{
        color: #000;
        margin-top: 50px;
        font-size: 30px;
    }
    .row{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .box{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 400px;
        border: 1px solid  black;
        margin: 10px;
        align-items: center;
        text-align: justify;
        padding: 10px;
        border-radius: 15px;
        background: linear-gradient(to top, rgb(24,184,173) 50%, #fff 50%);
        background-size: 100% 200%;
        transition: all .8s;
        margin-top: 30px;
    
    }
    .box p{
        margin-top: 30px;
    }
    .box:hover{
        background-position: left bottom;
        color: #fff;
        border: none;
        box-shadow: 0 0 20px rgb(24, 184, 173);
    }
    .box img{
        height: 80px;
        width: 80px;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: #fff;
        padding: 10px;
    }
    /* Contact Section */
    #contact{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-image: url('cool.png');
        color: #fff;
        padding: 20px;
    }
    #contact .headings{
        font-size: 30px;
    }
    .form{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        margin: 20px 0px;
    }
    .input{
        padding: 12px;
        margin: 15px;
        width: 30%;
        border: none;
        outline: none;
    }
    #msg{
        width: 20%;
        padding: 10px;
        margin: 15px; 
        border: none;
        outline: none;
    }
    #send{
        padding: 10px;
        width: 10%;
        margin: 40px;
        border: none;
        outline: none;
    }
    #send:hover{ 
        cursor: pointer;
        box-shadow: 0 0 15px #66f6f1; 
    }


    
    
